# Datasets
data/

# macOS .DS_Store files
.DS_Store

# Python caches directories
__pycache__/

# Unit test fixtures
test/fixtures/

# VS Code local configs
.vscode/

# Weights and Biases directories
wandb/